html, body {
  height: 87%;
}

p {
  margin: 0.3em 0;
}

a {
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

body {
  font-family: "Helvetica Neue", sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  align-content: center;
  justify-content: center;

  display: -webkit-flex;
  -webkit-flex-direction: column;
  -webkit-align-items: center;
  -webkit-align-content: center;
  -webkit-justify-content: center;
}

#container {
  text-align: center;
}
